/*================== BASIC SETUP ===================== */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba($black, 0);
  scroll-behavior: smooth;
}

body {
  background-color: $white;
  color: $black;
  font-family: $fontDefault;
  font-size: $fontSizeDefault;
  font-weight: 400;
  line-height: $lineHeight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  min-height: 100vh;
}

video {
  object-fit: cover;
}

h1,
h2,
h3 {
  font-family: $fontTitle;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

ul.list-style-none li{
  list-style: none;
}

// Change the text on the read more button
details.read-more[open] summary::after {
  content: attr(data-open);
}

details.read-more:not([open]) summary::after {
  content: attr(data-close);
}

// Hide Details marker
details.read-more>summary{
  list-style: none;
}

summary.read-more::-webkit-details-marker{
  display: none;
}

// Details tags will open upwards
details.read-more { 
  position: relative; 
  width: 100%;
}

details.read-more span {
  position: absolute; 
  top: 0;
}

summary.read-more {
  position: absolute; 
  display: block;
  bottom: -30px;
  left: 38%;
  text-align: center;
}

@media (min-width: 630px) {
  summary.read-more {
    left: 43%;
  }
  
}

@media (min-width: 992px) {
  summary.read-more {
    left: 33%;
  }
  
}

details.read-more[open] ::-webkit-details-marker{
    transform: rotate(180deg);
}

// // Custom Details Marker
// summary::after{
//   content: '\2193';
// }

details summary{
  cursor: pointer;
}

details summary > *{
  display: inline;
}

.cursor-default{
  cursor: default;
}

.cursor-pointer{
  cursor: pointer;
}

/*================== FORM ELEMENTS ===================== */
* {
  outline: none !important;
}

input,
select,
button,
textarea {
  font-family: $fontDefault;
}



/* link */

a {
  color: $black;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $white;
    text-decoration: none;
  }
}


/*================== MODAL BOX ===================== */


[id^=modal] {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}
[id^=modal]:target {
  display: block;
}
.popup {
  width: 100%;
  height: 100%;
  z-index: 99999;
}
.popup__overlay {
  position: fixed;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000b3;
}
.popup__wrapper {
  position: fixed;
  z-index: 9;
  width: 95%;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -35%);
  border-radius: 8px;
  // padding: 58px 32px 32px 32px;
  background: #fff;
}
@media (min-width: 992px){
  .popup__wrapper {
    top: 28%;
  }
}
.popup__close {
  position: absolute;
  top: 16px;
  right: 26px;
}

/*================== ANIMATION ===================== */

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: $black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation__black:after {
  background-color: $black;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-zoom{
  transition: transform .6s;
}

.hover-zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.container-hover-zoom img{
  transition: transform .6s;
}

.container-hover-zoom img:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.reveal-down{
  // position: relative;
  transform: translateY(-150px);
  opacity: 0;
  transition: 1.5s all ease;
}
.reveal-down.active{
  transform: translateY(0);
  opacity: 1;
}

.reveal-up{
  // position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.5s all ease;
}
.reveal-up.active{
  transform: translateY(0);
  opacity: 1;
}


.reveal-left{
  // position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal-left.active{
  transform: translateX(0);
  opacity: 1;
}

.reveal-right{
  // position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal-right.active{
  transform: translateX(0);
  opacity: 1;
}





/*================== TEXT ===================== */

.line-height-1{
  line-height: 1;
}

.line-height-2{
  line-height: 1.2;
}

.line-height-3{
  line-height: 1.5;
}

.line-height-4{
  line-height: 2;
}

.line-height-5{
  line-height: 3;
}

.text-center {
  text-align: center;
}

.text-shadow{
  text-shadow: 5px 5px 20px #000000;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media (min-width: 992px) {
  .text-lg-center{
    text-align: center!important;
  }

  .text-lg-left{
    text-align: left!important;
  }

  .text-lg-right{
    text-align: right!important;
  }

}


.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-underline {
  text-decoration: underline;
}


/* TEXT COLOR*/

.text-white {
  color: $white;
}

.text-black {
  color: $black;
}


.text-hover-white {

  &:hover,
  &:focus,
  &:active {
    color: $white;
  }
}




/* TEXT FONT WEIGHT AND SIZE*/

.title{
  font-family: $fontTitle;
}

.font-2{
  font-family: $fontTitle;
}


.color-black{
  color: $black;
}

.color-white{
  color: $white;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}


.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}


.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-28 {
  font-size: 28px;
}


.fs-30 {
  font-size: 30px;
}

.fs-35 {
  font-size: 35px;
}


.fs-40 {
  font-size: 40px;
}

.fs-45 {
  font-size: 45px;
}

.fs-50 {
  font-size: 50px;
}

.fs-60 {
  font-size: 60px;
}

.fs-80 {
  font-size: 80px;
}


@media (min-width:768px){
  .fs-md-11 {
    font-size: 11px;
  }
  
  .fs-md-12 {
    font-size: 12px;
  }
  
  .fs-md-13 {
    font-size: 13px;
  }
  
  
  .fs-md-14 {
    font-size: 14px;
  }
  
  .fs-md-15 {
    font-size: 15px;
  }
  
  
  .fs-md-16 {
    font-size: 16px;
  }
  
  .fs-md-18 {
    font-size: 18px;
  }
  
  .fs-md-20 {
    font-size: 20px;
  }

  .fs-md-22 {
    font-size: 22px;
  }
  
  .fs-md-24 {
    font-size: 24px;
  }

  .fs-md-28 {
    font-size: 28px;
  }
  
  
  .fs-md-30 {
    font-size: 30px;
  }

  .fs-md-35 {
    font-size: 35px;
  }
  
  .fs-md-40 {
    font-size: 40px;
  }
  
  .fs-md-45 {
    font-size: 45px;
  }
  
  .fs-md-50 {
    font-size: 50px;
  }
  
  .fs-md-60 {
    font-size: 60px;
  }
  
  .fs-md-80 {
    font-size: 80px;
  }
  
}

@media (min-width:992px){
  .fs-lg-11 {
    font-size: 11px;
  }
  
  .fs-lg-12 {
    font-size: 12px;
  }
  
  .fs-lg-13 {
    font-size: 13px;
  }
  
  
  .fs-lg-14 {
    font-size: 14px;
  }
  
  .fs-lg-15 {
    font-size: 15px;
  }
  
  
  .fs-lg-16 {
    font-size: 16px;
  }
  
  .fs-lg-18 {
    font-size: 18px;
  }
  
  .fs-lg-20 {
    font-size: 20px;
  }

  .fs-lg-22 {
    font-size: 22px;
  }
  
  .fs-lg-24 {
    font-size: 24px;
  }

  .fs-lg-28 {
    font-size: 28px;
  }
  
  
  .fs-lg-30 {
    font-size: 30px;
  }

  .fs-lg-35 {
    font-size: 35px;
  }
  
  .fs-lg-40 {
    font-size: 40px;
  }
  
  .fs-lg-45 {
    font-size: 45px;
  }
  
  .fs-lg-50 {
    font-size: 50px;
  }
  
  .fs-lg-60 {
    font-size: 60px;
  }
  
  .fs-lg-80 {
    font-size: 80px;
  }
  
}

.ls-0{
  letter-spacing: 0px;
}

.ls-1{
  letter-spacing: 1px;
}

.ls-2{
  letter-spacing: 1.5px;
}

.ls-3{
  letter-spacing: 2px;
}

.ls-4{
  letter-spacing: 3px;
}

.ls-5{
  letter-spacing: 5px;
}

@media (min-width: 992px){
  .ls-lg-0{
    letter-spacing: 0px;
  }
  
  .ls-lg-1{
    letter-spacing: 1px;
  }
  
  .ls-lg-2{
    letter-spacing: 1.5px;
  }
  
  .ls-lg-3{
    letter-spacing: 2px;
  }
  
  .ls-lg-4{
    letter-spacing: 3px;
  }
  
  .ls-lg-5{
    letter-spacing: 5px;
  }
}

.ws-lg-0{
  word-spacing: 0px;
}

.ws-1{
  word-spacing: 1px;
}

.ws-2{
  word-spacing: 2px;
}

.ws-3{
  word-spacing: 5px;
}

.ws-4{
  word-spacing: 10px;
}

.ws-5{
  word-spacing: 20px;
}

@media(min-width: 992px){
  .ws-lg-0{
    word-spacing: 0px;
  }

  .ws-lg-1{
    word-spacing: 1px;
  }
  
  .ws-lg-2{
    word-spacing: 2px;
  }
  
  .ws-lg-3{
    word-spacing: 5px;
  }
  
  .ws-lg-4{
    word-spacing: 10px;
  }
  
  .ws-lg-5{
    word-spacing: 20px;
  }
  
}


@media (min-width: 992px) {
  .fs-lg-50{
    font-size: 50px;
  }
}


.ff-permanent-marker {
  font-family: 'Permanent Marker', cursive;
}





/* Additional Classes*/

.p-relative{
  position: relative;
}

.p-absolute{
  position: absolute;
}

.center-absolute{
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.width-100{
  width: 100%;
}

.width-95{
  width: 95%;
}

.width-90{
  width: 90%;
}

.width-85{
  width: 85%;
}

.width-80{
  width: 80%;
}

.width-75{
  width: 75%;
}

.width-70{
  width: 70%;
}

.width-65{
  width: 65%;
}

.width-60{
  width: 60%;
}

.width-55{
  width: 55%;
}

.width-50{
  width: 50%;
}

.width-45{
  width: 45%;
}

.width-40{
  width: 40%;
}

.width-35{
  width: 35%;
}

.width-30{
  width: 30%;
}

.width-25{
  width: 25%;
}

.width-20{
  width: 20%;
}


@media (min-width: 768px) {
  .width-md-100{
    width: 100%;
  }

  .width-md-95{
    width: 95%;
  }
  
  .width-md-90{
    width: 90%;
  }
  
  
  .width-md-85{
    width: 85%;
  }
  
  .width-md-80{
    width: 80%;
  }

  .width-md-75{
    width: 75%;
  }
  
  .width-md-70{
    width: 70%;
  }
  
  .width-md-65{
    width: 65%;
  }
  
  .width-md-60{
    width: 60%;
  }
  
  .width-md-55{
    width: 55%;
  }
  
  .width-md-50{
    width: 50%;
  }

  .width-md-45{
    width: 45%;
  }
  
  .width-md-40{
    width: 40%;
  }

  .width-md-35{
    width: 35%;
  }
  
  .width-md-30{
    width: 30%;
  }

  .width-md-25{
    width: 25%;
  }

  .width-md-20{
    width: 20%;
  }

}


@media (min-width: 992px) {
  .width-lg-100{
    width: 100%;
  }

  .width-lg-95{
    width: 95%;
  }
  
  .width-lg-90{
    width: 90%;
  }
  
  .width-lg-85{
    width: 85%;
  }
  
  .width-lg-80{
    width: 80%;
  }

  
  .width-lg-75{
    width: 75%;
  }
  
  .width-lg-70{
    width: 70%;
  }
  
  .width-lg-65{
    width: 65%;
  }
  
  .width-lg-60{
    width: 60%;
  }

  .width-lg-55{
    width: 55%;
  }
  
  .width-lg-50{
    width: 50%;
  }

  .width-lg-45{
    width: 45%;
  }
  
  .width-lg-40{
    width: 40%;
  }

  .width-lg-35{
    width: 35%;
  }
  
  .width-lg-30{
    width: 30%;
  }

  .width-lg-25{
    width: 25%;
  }

  .width-lg-20{
    width: 20%;
  }
}

.height-100vh{
  height: 100vh!important;
}

.height-95vh{
  height: 95vh!important;
}

.height-90vh{
  height: 90vh!important;
}

.height-80vh{
  height: 80vh!important;
}

.height-70vh{
  height: 70vh!important;
}

.height-60vh{
  height: 60vh!important;
}

.height-50vh{
  height: 50vh!important;
}

@media (min-width: 992px){
  .height-lg-100vh{
    height: 100vh!important;
  }

  .height-lg-95vh{
    height: 95vh!important;
  }
  
  .height-lg-90vh{
    height: 90vh!important;
  }
  
  .height-lg-80vh{
    height: 80vh!important;
  }
  
  .height-lg-70vh{
    height: 70vh!important;
  }
  
  .height-lg-60vh{
    height: 60vh!important;
  }
  
  .height-lg-50vh{
    height: 50vh!important;
  }
  
}

.height-100{
  height: 100%!important;
}

.height-95{
  height: 95%!important;
}

.height-90{
  height: 90%!important;
}

.height-80{
  height: 80%!important;
}

.height-70{
  height: 70%!important;
}

.height-60{
  height: 60%!important;
}

.height-50{
  height: 50%!important;
}

@media (min-width: 992px){
  .height-lg-100{
    height: 100%!important;
  }

  .height-lg-95{
    height: 95%!important;
  }
  
  .height-lg-90{
    height: 90%!important;
  }
  
  .height-lg-80{
    height: 80%!important;
  }
  
  .height-lg-70{
    height: 70%!important;
  }
  
  .height-lg-60{
    height: 60%!important;
  }
  
  .height-lg-50{
    height: 50%!important;
  }
  
}

.p-fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.z-index-top{
  z-index: 100;
}

.z-index-under{
  z-index: -100;
}

// .sticky {
//   position: fixed;
//   z-index: 200;
//   top: 0;
//   width: 100%;
// }

// .sticky + main {
//   padding-top: 50000px;
// }

.width-sm-90{
  width: 90%;
  @media (min-width: 992px) {
    &{
      width: 100%;
    }
  }
  
}

.flex-equal {
  flex: 1;
}

@media (min-width: 992px) {

}

.width-auto{
  width: auto!important;
}

.width-255{
  width: 255px;
}


.max-width-295{
  max-width: 295px!important;
}

.width-330{
  width: 330px;
}


.width-595{
  width: 595px;
}

.max-width-700{
  max-width: 700px!important;
}

.max-width-730{
  max-width: 730px!important;
}

.max-width-750{
  max-width: 750px!important;
}

.max-width-900{
  max-width: 900px!important;
}

.max-width-1000{
  max-width: 1000px!important;
}


.max-width-1100{
  max-width: 1100px!important;
}

.max-width-1160{
  max-width: 1160px!important;
}

.max-width-1170{
  max-width: 1170px!important;
}

.max-width-1200{
  max-width: 1200px!important;
}

.max-width-1300{
  max-width: 1300px!important;
}

.max-width-1400{
  max-width: 1400px!important;
}


.max-width-1550{
  max-width: 1550px!important;
}

.width-750{
  width: 100%;
  max-width: 750px;
}

.height-750{
  height: 80vh;
  max-height: 750px!important;
}


// .height-680{
//   width: 100%;
//   max-width: 680px!important;
// }

.max-height-600{
  height: 80vh;
  max-height: 600px!important;
}


.max-height-570{
  height: 80vh;
  max-height: 570px!important;
}

.max-height-385{
  height: 70vh;
  max-height: 385px!important;
}

.gap-0{
  gap: 0!important;
}


.gap-1{
  gap: 1rem!important;
}

.gap-2{
  gap: 2.5rem!important;
}

.gap-3{
  gap: 4rem!important;
}

.gap-4{
  gap: 6rem!important;
}

.gap-5{
  gap: 8rem!important;
}

.gap-6{
  gap: 12rem!important;
}

@media (min-width: 768px) {

  .gap-md-0{
    gap: 0!important;
  }
  
  .gap-md-1{
    gap: 1rem!important;
  }
  
  .gap-md-2{
    gap: 2.5rem!important;
  }
  
  .gap-md-3{
    gap: 4rem!important;
  }
  
  .gap-md-4{
    gap: 6rem!important;
  }
  
  .gap-md-5{
    gap: 8rem!important;
  }
  
  .gap-md-6{
    gap: 12rem!important;
  }
}


@media (min-width: 992px) {

  .max-height-lg-385{
    height: 70vh;
    max-height: 385px!important;
  }

  .max-height-lg-570{
    height: 80vh;
    max-height: 570px!important;
  }

  .gap-lg-0{
    gap: 0!important;
  }
  
  .gap-lg-1{
    gap: 1rem!important;
  }
  
  .gap-lg-2{
    gap: 2.5rem!important;
  }
  
  .gap-lg-3{
    gap: 4rem!important;
  }
  
  .gap-lg-4{
    gap: 6rem!important;
  }
  
  .gap-lg-5{
    gap: 8rem!important;
  }
  
  .gap-lg-6{
    gap: 12rem!important;
  }
}


.py-6 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.negative-margin-left-8{
  margin-left: -8px;
}

.negative-margin-top-7{
  margin-top: -7px;
}

.negative-margin-top-15{
  margin-top: -15px;
}

  @media (min-width: 992px) {
    .negative-margin-top-15{
      margin-top: 0px;
    
  }
}

.px-70{
  padding-left: 70px!important;
  padding-right: 70px!important;
}

.mt-100{
  margin-top: 100px;
}

.mb-90{
  margin-bottom: 90px;
}

.mb-40{
  margin-bottom: 40px;
}



@media (min-width: 992px) {
    .mt-80{
      margin-top: 80px!important;
    }

    .mt-100{
      margin-top: 40px;
    }    

    .mt-120{
      margin-top: 120px;
    }

    .mt-150{
      margin-top: 150px;
    }


    .mt-190{
      margin-top: 190px;
    }

    .pb-lg-30{
      padding-bottom: 30px;
    }
    
  }



.bg-black{
  background-color: $black!important;
}

.bg-white{
  background-color: $white!important;
}

.border-white{
  border: 1.5px $white solid;
}

.bt-none{
  border-top: none;
}

.br-none{
  border-right: none;
}

.bl-none{
  border-left: none;
}

.bb-none{
  border-bottom: none;
}

.br-1{
  border-radius: 1px;
}

.br-2{
  border-radius: 2px;
}

.br-3{
  border-radius: 5px;
}

.br-4{
  border-radius: 10px;
}

.br-5{
  border-radius: 20px;
}

.br-50{
  border-radius: 50%;
}

.bw-1{
  border-width: 0.8px;
}

.bw-2{
  border-width: 1px;
}

.bw-3{
  border-width: 1.5px;
}

.bw-4{
  border-width: 2.2px;
}

.bw-5{
  border-width: 5px;
}

@media (min-width: 992px) {
  .bw-lg-1{
    border-width: 0.8px;
  }
  
  .bw-lg-2{
    border-width: 1px;
  }
  
  .bw-lg-3{
    border-width: 1.5px;
  }
  
  .bw-lg-4{
    border-width: 2.2px;
  }
  
  .bw-lg-5{
    border-width: 5px;
  }

  .bt-lg-none{
    border-top: none;
  }
  
  .br-lg-none{
    border-right: none;
  }
  
  .bl-lg-none{
    border-left: none;
  }
  
  .bb-lg-none{
    border-bottom: none;
  }
  
}


.height-50{
  min-height: 50px;
}

.height-60{
  min-height: 60px;
}

.height-70{
  min-height: 70px;
}

.height-80{
  min-height: 80px;
}

@media (min-width: 992px) {
  .height-50{
    height: 50px;
  }
}

.img-cover {
  object-fit: cover;
}

.object-position-center{
  object-position: center;
}

.object-position-top{
  object-position: top;
}

img.small-icon{
  width: 21px;
}

img.footer-small-icon{
  height: 24px;
  width: 24px;
}

.btn{
  padding: 10px 30px;
  border: 1px $black solid;
  background-color: $black;
}

.btn--white{
  color: $white;
}

.btn--white:hover{
  color: $white;
}

.btn--dark{
  border: 1px $black solid;
  color: $black;
}


.btn:hover{
  background-color: $black;
  border: 1px $black solid;
  color: $white;
}








/* img responsive */

img {
  height: auto;
  max-width: 100%;
}





/* lazyload */

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 100ms;
}

img.lazyload:not([src]) {
  visibility: hidden;
}





/* sr-only */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}





