$fontDefault: 'Open Sans', sans-serif;
$fontTitle: 'Playfair Display', serif;
$fontSizeDefault: 16px;
$lineHeight: 1.429;

$black: #000;
$white: #fff;

// $darkpink: #ec128f;
// $lightpink: #fabfe1;
// $yellow: #c7af85;
// $gold: #a08556;
// $blue: #282e36;
// $darkblue: #181d2a;
// $red: #c10000;
// $black2: #2d2d2d;
// $gray: #636363;
// $gray2: #2e2e2e;
// $gray3: #8d8d8d;


